<div class="ct_cover_img">
    <img [src]="cover_photo_url ? cover_photo_url : '/assets/img/no_event.png'" alt="" class="ct_img_h_200">
</div>
<div class="ct_my_profile_main">
    <img [src]="avatar_url ? avatar_url : '/assets/img/np_pro.png'" alt="" class="ct_img_100">
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 ct_mt_30 pt-1">
        <div>
            <h4 class="ct_ff_roboto ct_fw_600 text-white ct_fs_24 mb-0">{{name}}</h4>
            <div class="d-flex align-items-center gap-2" *ngIf="isCoach">
                <img src="../assets/img/star.png" alt="star">
                <span class="ct_orange_text">{{category}}</span>
            </div>
        </div>
        <div>
            <a routerLink="/user/main/edit-profile" class="ct_orange_btn ct_grey_btn ct_border_radius_10">Edit Profile</a>
        </div>
    </div>
</div>
<hr class="ct_hr_line_op_5 mt-4">
<div class="mt-4">
    <h4 class="ct_ff_roboto text-white ct_fs_18 ct_fw_600">About Me</h4>
    <p class="mb-0 text-white ct_fs_14 ct_ff_roboto ct_fw_400 ct_line_height_22">{{userEmail}}</p>
</div>


