.ct_send_msg_plane{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.spinner-border {
    height: 15px;
    width: 15px;
}


.custom-audio-player {
    width: 100%;
    /* Add any additional styling here */
  }
  
  /* .custom-audio-player::-webkit-media-controls-panel {
    background-color: #443c3c; 
    color: #ff0000; 
  } */
  
  /* Add more custom styles for controls as needed */
  .ct_box_2_full_active{
    grid-template-columns: 100% !important;
  }